/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    background-color: #29293f;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.navbar-primary {
    background-color: #29293f;
}

.brand-logo.logo-navbar {
    padding-left: 50px;
    color: #f8da59;
}

.text-navbar {
    padding-right: 0;
    color: #f8da59;
}

.material-icons.icons-navbar {
    padding-right: 50px;
    padding-left: 0;
    color: #f8da59;
}

.parallax-container.first-parallax {
    height: 910px;
}

/*.overlay {
    background-image: url(../images/overlay-75.png);
}*/

.hero-title {
    color: #29293f;
    font-weight: 900;
}

.hero-text {
    text-shadow: 1px 1px 1px #000000;
}

.domaines-iteration {
    height: 920px;
}

.iteration-title {
    color: #fff;
    padding-bottom: 50px;
}

.domaines-iteration-title {
    font-size: 3em;
    color: #f8da59;
    text-shadow: 1px 1px 1px #000000;
}

.material-icons.domaines-iteration-icons {
    font-size: 3.5em;
    color: #f8da59;
}

.counter-text-number {
    font-family: 'Righteous';
    font-size: 5em;
}

.counter-text {
    font-family: 'Righteous';
    font-size: 2em;
}

.counter-parts {
    margin-top: 80px;
}

.overlay-counter-parts {
    background-image: url(../images/overlay-75.png);
}

.overlay-social-parts {
    background-image: url(../images/overlay-75.png);
}

.first-partenaires {
    background-color: #f8da59;
}

.first-partenaires-bis {
    background-color: #29293f;
}

.second-partenaires {
    background-color: #29293f;
}

.second-partenaires-bis {
    background-color: #f8da59;
}

.icons-social {
    font-size: 5em;
}

.cards-parts {
    background-color: #29293f;
}

footer.page-footer {
    background-color: #f8da59;
}

.footer-text {
    color: #29293f;
}

.newsletter-input {
    margin-top: 325px;
}

.button-newsletter {
    background-color: #29293f;
    color: #f8da59;
}

.button-newsletter;hover {
    background-color: #fff;
    color: #f8da59;
}

.newsletter-title {
    color: #29293f;
    padding-bottom: 50px;
}

input.validate {
    border-bottom: 1px solid #29293f;
}

.material-icons.icons-next {
    padding-left: 10px;
    padding-right: 10px;
}

.material-icons.icons-next2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80px;
}

.iteration-title2 {
    color: #f8da59;
    margin-top: 80px;
}

.sponsors-partenaires {
    height: 920px;
}

.sponsors-title {
    color: #f8da59;
    margin-top: 80px;
}
