@import "{}/client/stylesheets/vars.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.fixed-parallax-size {
  min-height: $section-height;
}

.next-section {
  margin-bottom: 20px;
  margin-top: 200px;
  cursor: pointer;
}

.section-title {
  margin-top: 70px;
}

.material-icons.big {
  font-size: 3.5em;
}
