@import "{}/client/stylesheets/vars.scss";
@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.fixed-parallax-size {
  min-height: $section-height;
}

.next-section {
  margin-bottom: 20px;
  margin-top: 200px;
  cursor: pointer;
}

.section-title {
  margin-top: 70px;
}

.material-icons.big {
  font-size: 4em;
}

.overlay {
  background-image: url(./../images/overlay.png);
}

.counter-text-number {
  font-family: 'Righteous';
  font-size: 8rem;
}

.counter-text {
  font-family: 'Righteous';
  font-size: 2.5rem;
}

.counter-section {
  margin: 0 auto;
  width: 960px;
}

.reseau-section {
  margin: 0 auto;
  width: 960px;
}