<template name="layout">
  {{> signinModal }}
  {{> loginModal }}
  <header class="navbar-fixed">
    <nav class="nav-fixed-height">
      <div class="nav-wrapper purple-js">
        <a href="#" class="brand-logo" id="js-logo">JS &amp; CO</a>
        <a href="#" data-activates="mobile-side-nav" id="burger-btn" class="button-collapse">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
          {{#if currentUser}}
            <li><a href="" class="waves-effect" id="js-logout">Log out</a></li>
          {{else}}
            <li><a href="" class="waves-effect" id="js-signin">Sign up</a></li>
            <li><a href="" class="waves-effect" id="js-login">Log in</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-side-nav">
          {{#if currentUser}}
            <li><a href="" class="waves-effect" id="js-logout">Log out</a></li>
          {{else}}
            <li><a href="" class="waves-effect" id="js-signin">Sign up</a></li>
            <li><a href="" class="waves-effect" id="js-login">Log in</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <main class="content">
    {{> Template.dynamic template=main }}
  </main>
  <footer class="page-footer no-margin yellow-js-i purple-js-text-i">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Footer Content</h5>
          <p>You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <ul>
            <li><a class="purple-js-text" href="#!">Link 1</a></li>
            <li><a class="purple-js-text" href="#!">Link 2</a></li>
            <li><a class="purple-js-text" href="#!">Link 3</a></li>
            <li><a class="purple-js-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span class="purple-js-text-i">© 2016 Copyright JS &amp; Co</span>
      </div>
    </div>
  </footer>
</template>
