<template name="loginModal">
  <div id="loginModal" class="modal">
    <form class="modal-content" id="login-form">
       <div class="row">
         <div class="col s8 offset-s2">
           <h5 class="titleSigninModal center-align">Login</h5>
         </div>
       </div>
       <div class="row">
        <div class="col s6">
          <input placeholder="Email / Username" id="email" type="text" class="validate">
        </div>
        <div class="col s6">
          <input placeholder="Password" id="password" type="password" class="validate">
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12">
          <button class="btn waves-effect waves-light modal-close yellow-js" type="submit" name="action">
            Confirmer
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
