.yellow-js {
  background-color: #f8da59;
}

.purple-js {
  background-color: #29293f;
}

.yellow-js-text {
  color: #f8da59;
}

.purple-js-text {
  color: #29293f;
}

.yellow-js-border {
  border-color: #f8da59;
}

.purple-js-border {
  border-color: #29293f;
}

.yellow-js-i {
  background-color: #f8da59 !important;
}

.purple-js-i {
  background-color: #29293f !important;
}

.yellow-js-text-i {
  color: #f8da59 !important;
}

.purple-js-text-i {
  color: #29293f !important;
}

.yellow-js-border-i {
  border-color: #f8da59 !important;
}

.purple-js-border-i {
  border-color: #29293f !important;
}
